In [1]:
import transaction_data_simulator as tds

In [2]:
tds = tds.TransactionDataSimulator(5, 5)

In [3]:
tds.generate_customer_profiles_table()

,CUSTOMER_ID,x_customer_id,y_customer_id,mean_amount,std_amount,mean_number_of_tx_per_day
0,0,54.881350,71.518937,62.262521,31.131260,2.179533
1,1,42.365480,64.589411,46.570785,23.285393,3.567092
2,2,96.366276,38.344152,80.213879,40.106939,2.115580
3,3,56.804456,92.559664,11.748426,5.874213,0.348517
4,4,2.021840,83.261985,78.924891,39.462446,3.480049

In [4]:
tds.generate_terminal_profiles_table()

   TERMINAL_ID  x_terminal_id  y_terminal_id
0            0      54.881350      71.518937
1            1      60.276338      54.488318
2            2      42.365480      64.589411
3            3      43.758721      89.177300
4            4      96.366276      38.344152